* {
    box-sizing: border-box;
  }

.skills {
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.skills-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    z-index: 10;
    transform: translate(0, 80%);
}

.circular-bg {
    height: 600px;
    margin-top: 10%;
    width: 100%;
    background-image: repeating-radial-gradient(#fff 2px, #09090f 5px, #09090f 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill {
    position: absolute;
    background-color: #fff;
    color: #09090f;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    transform: translate(0, 0) scale(0.5);
    transition: transform 1.5s ease, opacity 1s ease;
    opacity: 0;
}

.skill:nth-child(1) {
    --x: 0vw;
    --y: 4vw;
  }
  
  .skill:nth-child(2) {
    --x: -5vw;
    --y: -10vw;
  }
  
  .skill:nth-child(3) {
    --x: 20vw;
    --y: 6vw;
  }
  
  .skill:nth-child(4) {
    --x: -25vw;
    --y: -5vw;
  }
  
  .skill:nth-child(5) {
    --x: -35vw;
    --y: -13vw;
  }
  
  .skill:nth-child(6) {
    --x: -20vw;
    --y: -16vw;
  }
  
  .skill:nth-child(7) {
    --x: 15vw;
    --y: -12vw;
  }
  
  .skill:nth-child(8) {
    --x: 32vw;
    --y: -3vw;
  }
  
  .skill:nth-child(9) {
    --x: 30vw;
    --y: -15vw;
  }
  
  .skill:nth-child(10) {
    --x: -15vw;
    --y: 13vw;
  }
  
  .skill:nth-child(11) {
    --x: -30vw;
    --y: 7vw;
  }
  
  .skill:nth-child(12) {
    --x: 35vw;
    --y: 10vw;
  }
  

.skill.visible {
    transform: translate(calc(var(--x, 0)), calc(var(--y, 0))) scale(1);
  opacity: 1;
}

.skill:hover {
    scale: 1.1;
    background-color: var(--green);
    transition: all 0.4s;
}

@media screen and (max-width:677px) {

    .circular-bg {
        background-image: repeating-radial-gradient(#fff 2px, #09090f 5px, #09090f 60px);
    }

    .skill {
        font-size: 12px;
    }
    .skill:nth-child(1) {
        --x: 0vw;
        --y: 8vw;
      }
      .skill:nth-child(2) {
        --x: -10vw;
        --y: -17vw;
      }
      .skill:nth-child(3) {
        --x: 18vw;
        --y: 25vw;
      }
      .skill:nth-child(4) {
        --x: -30vw;
        --y: -3vw;
      }
      .skill:nth-child(5) {
        --x: -35vw;
        --y: -20vw;
      }
      .skill:nth-child(6) {
        --x: -25vw;
        --y: -38vw;
      }
      .skill:nth-child(7) {
        --x: 10vw;
        --y: -28vw;
      }
      .skill:nth-child(8) {
        --x: 25vw;
        --y: -10vw;
      }
      .skill:nth-child(9) {
        --x: 35vw;
        --y: -35vw;
      }
      .skill:nth-child(10) {
        --x: -20vw;
        --y: 35vw;
      }
      .skill:nth-child(11) {
        --x: -30vw;
        --y: 20vw;
      }
      .skill:nth-child(12) {
        --x: 38vw;
        --y: 35vw;
      }
}